
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Hello @ViewBag.Name</h1>
    <h2>@ViewBag.Message</h2>
    <hr/>
    <span>@ViewBag.AuthorName</span>
</body>
</html>
