
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ajax Demo</title>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        function showTime() {
            $.get("/Ajax/Now", {},
                function (result) {
                    $("#time").text(result);
                }
            );
        }

        function startAjax() {
            $("#books").empty();  // clear contents of div 
        }
    </script>
</head>
<body>
    <h2>Ajax with jQuery</h2>
    <button onclick="showTime()">Show Date and Time</button>
    <p></p>
    <h3 id="time"></h3>

    <h2>Using Ajax Helper</h2>
    @Ajax.ActionLink("Show Date and Time","Now", 
            new AjaxOptions {UpdateTargetId = "ajaxTime"})
    <p></p>
    <h3 id="ajaxTime"></h3>

    <h2>Search Books</h2>
    @using (Ajax.BeginForm("Search", new AjaxOptions {
                      OnBegin="startAjax()",
                      LoadingElementId ="loading",
                      UpdateTargetId = "books" }))
    {
        <input type="text" placeholder="Title" name="pattern" />
        <input type="submit" value="Search" />
        <img id="loading"  style="display:none" src="~/Content/ajax-loader.gif" />
        <p></p>
        <div id="books">

        </div>
    }


</body>
</html>
